* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212f3d;
}

/******  Container  ******/
#container {
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: #212f3d;
    color: #f9f9f9;
    box-shadow: 8px 8px 8px rgba(28, 40, 51, 0.5), -8px -8px 5px rgba(44, 62, 80, 0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@font-face {
    font-family: digitalfont;
    src: url('digitalfont.ttf');
}

#text {
    width: 200px;
    height: 300px;
    margin: 70px auto;
    font-family: digitalfont;
}

#watch {
    font-size: 35px;
}


/*  button */
.btn {
    width: 55px;
    height: 30px;
    background-color: #ff6e2b;
    border: 0px none;
    font-family: digitalfont;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}